.blog-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 50px 1fr min-content min-content 50px;
    grid-template-areas:
    "hd hd"
    "nav nav"
    "main main"
    "intro intro"
    "share share"
    "ft ft";
}

/*blog content*/
article{
    grid-area: main;
}

.blogpost{
 display:flex;
 flex-direction: column;
 align-items: center;
 background-color: white;
 padding:1rem;
 box-shadow: 2px 2px 6px grey; 
 margin: 1rem;  
}
.blogpost-img {
    width: 80%;
}
.blog-intro{
    font-weight: bold;
    font-size: 1.1em;
}
blockquote{
    border-left: 2px solid rgb(10, 75, 53);
    padding:0.5rem;
    font-size: 1.1em;
}

/* social */
#share {
    grid-area: share;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.social-icon {
    height: 150%;
    width: auto;
    padding: 0.5rem;
    filter: opacity(0.6);
    transition: filter 0.5s;
}

.social-link {
    margin: 1rem;
}

.social-icon:hover {
    filter: opacity(1);
}

/*bio section*/
#intro{
    grid-area: intro;
    display:flex;
    flex-direction: column;
    max-width: 100%;
    padding:1rem;
    justify-content: space-between;
}

.intro-image-container{
    display:flex;
    justify-content: center;
    margin: auto 0;
    max-width: auto 100%; 
}

.intro-description{
    display:block;
    max-width: auto 50%;
    justify-content:initial;

}

#intro-icon {
    width: 50%;
    border-radius: 50%;
    border: 6px solid rgb(5, 64, 71);
}

/*content*/
.blogpost{
    margin: 2rem;
    padding: 2rem;
}

.sidebar{
    max-width: 80%;
}

blockquote{
    padding: 1rem;
    font-size: 1.2em;
}




/* responsive layout */
@media(min-width: 900px) {
    .blog-container {
        grid-template-columns: repeat(8, 2fr);
        grid-template-rows: 100px 1fr 1fr 1fr 100px;
        grid-template-areas: 
            "hd hd hd hd hd hd hd hd"
            "main main main main main main nav nav"
            "main main main main main main intro intro"
            "main main main main main main share share"
            "ft ft ft ft ft ft ft ft ";
    }



/*bio section*/
#intro{
justify-content: flex-start;
padding-top: 5rem;
max-width: 80%;
grid-row-start: 2;
margin-top: 3rem;
z-index: -1;
}

#icon{
    max-width: 70%;
}

.intro-icon{
    display: flex;
    justify-content: center;
    margin: auto 0;
    max-width: 100%;
}

.intro-image-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    
}

 /* social */
 #share {
    grid-row-start: 2;
    width: 80%;
}

}