/*header*/
header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-title {
    text-transform: uppercase;
    font-weight: lighter;
}

.header-subtitle {
    font-weight: lighter;
    font-size: 1.2em;
}
